header {
    background-color: #2860d2;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

body {
    background-image: url(../img/paper-backgroud.jpg);
}

.main {
    width: 50%;
    margin: auto;
    margin-top: 7px;
    background-color: #00000080;
    border: #000 1px solid;
    border-radius: 20px;
    padding: 20px;
    color: #fff;
}

h1,
h2,
h3 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #fff;
}

p,
li {
    font-family: "Google Sans", sans-serif;
    font-size: 18px;
    line-height: 1.6;

}

.zpet {
    color: #fff;
    text-align: center;
    font-weight: 900;
    border: 1px #000 solid;
    background-color: #000;
    border-radius: 15px;
}

.naklonene {
    font-style: italic;
}

.cerveneTucne {
    color: #f00;
    font-weight: 800;
}

.odkazy {
    text-decoration: none;
    color: #34E5FF
}
code {
    background-color: hsla(0, 0%, 0%, 0.500);
}

figure {
    font-family: "Google Sans", sans-serif;
    text-align: center;
    margin: 20px auto;
    
}

figcaption {
    font-style: italic ;
}
/*Fonty*/

.google-sans-font {
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.libre-baskerville-font {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*Tabulka*/

table {
    font-family: Arial, Helvetica, sans-serif;
}

table,
td {
    background-color: #3185FC;
    border-collapse: collapse;
    margin: auto;
}

th,
td {
    padding: 12px;
    border: 1px solid black;
}

thead {
    background-color: #0602c5;
    color: white;
}

 /*Container*/

    .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 100%;
      min-height: 600px;
    }

    .container a {
        color: white;
    }

    .container div {
      background-color: #3185FC;
      border: 2px solid gray;
      border-radius: 30px;
      margin: 10px;
      padding: 10px;
      width: 28%;
    }

    .container div:hover {
      background-color: #214ee4;
      scale: 105%;
      transition: 0.3s;
    }


    @media (max-width: 960px) {
      .container {
        flex-direction: row;
      }

      .container div {
        width: 40%;
      }
    }


    @media (max-width: 600px) {
      .container {
        flex-direction: column;
      }

      .container div {
        width: auto;
      }
    }

/* Navigace*/
.topnav {
    overflow: hidden;
    background-color: #0602c5;
    font-family: "Libre Baskerville", serif;
    border: #04025c 2px solid;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.active {
    background-color: #2487f8;
    color: white;
}

.topnav a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    scale: 105%;
    transition: 0.3s;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

   
}