header {
    background-color: rgb(40, 96, 210);
    padding: 10px;
    text-align: center;
    font-weight: bold;
}



main {
    width: 50%;
    margin: auto;
    

    background-color: #35281D;
    color: #ebded0;
}

h1,
h2,
h3 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
}

p {
    font-family: "Google Sans", sans-serif;
    font-size: 18px;
    line-height: 1.6;

}

.zpet {
    color: black;
    text-align: center;
    font-weight: 900;
    text-size-adjust: 10000px;
    width: 10000px;
}

.naklonene {
    font-style: italic;
}

.cerveneTucne {
    color: #f00;
    font-weight: 800;
}

table {
    font-family: Arial, Helvetica, sans-serif;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
}

thead {
    background-color: #a00;
    color: white;
}

.google-sans-font {
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.libre-baskerville-font {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

 /*Container*/

    .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      background-color: #ADBDFF;
      width: 100%;
      min-height: 600px;
    }

    .container a {
        color: white;
    }

    .container div {
      background-color: #3185FC;
      border: 2px solid gray;
      border-radius: 30px;
      margin: 10px;
      padding: 10px;
      width: 28%;
    }

    .container div:hover {
      background-color: #224fe493;
    }


    @media (max-width: 960px) {
      .container {
        flex-direction: row;
        background-color: rgb(89, 192, 41);
      }

      .container div {
        width: 40%;
      }
    }


    @media (max-width: 600px) {
      .container {
        flex-direction: column;
        background-color: rgb(169, 91, 214);
      }

      .container div {
        width: auto;
      }
    }


/* Navigace*/
.topnav {
    overflow: hidden;
    background-color: #0602c5;
    font-family: "Libre Baskerville", serif;
    border: #04025c 2px solid;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);

}

.topnav a.active {
    background-color: #2487f8;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

   
}